---
layout: no-title-inline
---
<style>
.axisHorizontal path {
  display: none;
}

.axisVertical path {
  display: none;
}

.bar {
  fill: #828282;
  fill-opacity: .9;
  stroke: #36454f;
}

text.label {
  fill: ghostwhite;
  stroke: none;
}
</style>
<article class="post">
    <div class="post-content">
        {{ content }}
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.5.0/d3.min.js"></script>
<script type="text/javascript" src="/assets/js/bar-chart.js" ></script>
</article>