@font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #333;
}

.margin-5 {
  margin-top: 5%;
}

.margin-10 {
  margin-top: 10%;
}

.margin-13 {
  margin-top: 13%;
}


.margin-15 {
  margin-top: 15%;
}

.width-30 {
  width: 30%;
}

.blue-coloured {
  color:#1F449C;
}

.index-instructions {
  margin: 0 auto;
  padding-bottom:30px;
  width:50%;
}

#scorer {
  font-size: 30px;
}

.wrapper > * {
  padding: 10px;
}

.info {
  width: 200px;
  border-style: solid;
  border-radius:5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inter {
  width:auto;
  text-align:center;
}

#grid-container {
  display: grid;
}

.padding-10 {
  padding-bottom: 10px;
}

.padding-30 {
  padding-bottom: 30px;
}

.padding-50 {
  padding-bottom: 50px;
}

.font-30 {
  font-size: 30px;
}

.square {
  box-sizing: border-box;
  border: 1px solid #999999;
  box-shadow: 0px 0px 5px #999999;
}

.square.current {
  border-color: black;
  border-width: 2px;
  box-shadow: inset 0px 0px 5px #999999;
}

.grey {
  background-color: #BBBBBB;
}

.light-grey {
  background-color: #DDDDDD;
}

.lightest-grey {
  background-color: #EEEEEE;
}

.white {
  background-color: white;
}

.green {
  background-color: #228833;
  box-shadow: inset 0px 0px 5px #ffffff;
}

.gold {
  background-color: #AA3377;
  box-shadow: inset 0px 0px 5px #ffffff;
}

.dark-grey-text {
  color: #333333;
}

.button {
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  border:  3px solid grey;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s;
}

.button:hover {
  background-color: grey;
  color: white;
}

.inter {
  text-align: center;
}

#score-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
}

#score-table th,
#score-table td {
    border: 1px solid #999999;
    padding: 10px;
    border-radius: 5px;
}