---
---
@import "minima";

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  padding: 5px 3px 2px 5px;
  vertical-align: text-top;
  text-color: red;
}

.site-header {
  position: fixed;
  background: #fcfcfc;
  background: radial-gradient(circle, #fcfcfc 70%, #d6d6d6 100%);
  top: 0;
  z-index: 5;
  width: 100%;
}

.site-footer {
  background: linear-gradient(#d6d6d6 0%, #fcfcfc 20%);
}

a {
  position: relative;
  text-decoration: none;

  &:active, &:focus {
    outline: none;
    border: 0;
  }

  &:hover {
    text-decoration: none;
  }

  .social-media-list &:hover {
      text-decoration: none;

      .username {
        text-decoration: none;
      }
    }
}

.page-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5px;
  bottom: -5px;
  left: 0;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.page-link:hover:before {
  visibility: visible;
  transform: scaleX(0.4);
}

.social-media-list
a:link {
  bottom: 20px;
  font-size:0;
}

.social-media-list li {
  display: inline;
}

body {
  padding: 85px 0 0;  // padding-top equal to masthead height or greater
  background-image: url("fog.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.testimonial {
  opacity: 0;
}

.intro {
 opacity: 0;
 animation-name: fadeIn;
 animation-duration: 3s;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
}

#second {
  animation-delay: 1s;
}

#third {
  animation-delay: 2s;
}

#overall {
  animation-delay: 3s;
}

.show {
  opacity: 1;
  transition: opacity 500ms;
}

.hide {
  opacity: 0;
  transition: opacity 500ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.studied a img {
  float: left;
}

.studied h1 {
  position: relative;
  display:inline-block;
  left: 20px;
}

.axisHorizontal path {
  display: none;
}

.axisVertical path {
  display: none;
}

.bar {
  fill: #828282;
  fill-opacity: .9;
  stroke: #36454f;
}

text.label {
  fill: ghostwhite;
  stroke: none;
}

:is(h1, h2, h3, h4, h5, h6), p {
  color: #36454f;
}

.softColumn {
  float: left;
  width: 50%;
}

.softRow:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .softColumn {
    width: 100%;
  }
}