---
---
@import "minima";

$light-header: #fcfcfc;
$dark-header: #ebebeb;
$charcoal: #36454f;

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  padding: 5px 3px 2px 5px;
  vertical-align: text-top;
  text-color: red;
}

.site-header {
  position: fixed;
  background: radial-gradient(circle, $light-header 70%, $dark-header 100%);
  top: 0;
  z-index: 5;
  width: 100%;
  box-shadow: 0px 0px 10px grey;
}

.site-footer {
  background: linear-gradient($dark-header 0%, $light-header 20%);
}

a {
  position: relative;
  text-decoration: none;

  &:active, &:focus {
    outline: none;
    border: 0;
  }

  &:hover {
    text-decoration: none;
  }

  .social-media-list &:hover {
      text-decoration: none;

      .username {
        text-decoration: none;
      }
    }
}

.page-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5px;
  bottom: -5px;
  left: 0;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.page-link:hover:before {
  visibility: visible;
  transform: scaleX(0.4);
}

.social-media-list
a:link {
  bottom: 20px;
  font-size:0;
}

.social-media-list li {
  display: inline;
}

body {
  padding: 85px 0 0;  // padding-top equal to masthead height or greater
  background-image: url("fog.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.show {
  opacity: 1;
  transition: opacity 500ms;
}

.hide {
  opacity: 0;
  transition: opacity 500ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

:is(h1, h2, h3, h4, h5, h6), p {
  color: $charcoal;
}

@media screen and (max-width: 600px) {
  .softColumn {
    width: 100%;
  }
}

@keyframes page-load {
    from {
        background-color: #ffffff;
    }
    to {
        background-color: #000000;
    }
}
.page-loading::before {
    content:" ";
    display:block;
    position:fixed;
    z-index:10;
    height:2px;
    width:100%;
    top:0;
    left:0;
    background-color:#06D;
    animation: page-load infinite ease-out 2s;
    box-shadow:0 2px 2px rgba(0,0,0,.2);
}