@font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #333;
}

#scorer {
  font-size: 30px;
}

.wrapper > * {
  padding: 10px;
}

.info {
  width: 200px;
  border-style: solid;
  border-radius:5px;
}

.inter {
  width:auto;
}

#grid-container {
  display: grid;
}

.square {
  box-sizing: border-box;
  border: 1px solid #999999;
  box-shadow: 0px 0px 5px #999999;
}

.square.current {
  border-color: black;
  border-width: 2px;
  box-shadow: inset 0px 0px 5px #999999;
}

.grey {
  background-color: #BBBBBB;
}

.white {
  background-color: white;
}

.green {
  background-color: #228833;
  box-shadow: inset 0px 0px 5px #ffffff;
}

.gold {
  background-color: #AA3377;
  box-shadow: inset 0px 0px 5px #ffffff;
}

.button {
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  border:  3px solid grey;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s;
}

.button:hover {
  background-color: grey;
  color: white;
}

.inter {
    text-align: center;
}

#score-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
}

#score-table th,
#score-table td {
    background-color: #BBBBBB;
    border: 1px solid #999999;
    padding: 10px;
    border-radius: 5px;
}

#score-table th {
    background-color: #BBBBBB;
    color: #333333;
}