---
---
@import "minima";

$light-header: #fcfcfc;
$dark-header: #ebebeb;
$charcoal: #36454f;

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  padding: 5px 3px 2px 5px;
  vertical-align: text-top;
  text-color: red;
}

.site-footer {
  background: $charcoal;
}

.footer-col-wrapper {
  color: $light-header;
}

.footer-col-wrapper a {
  color: #999999;
}

.footer-col-wrapper a:hover {
  color: $light-header;
}

.svg-icon {
  fill: $light-header;
}

a {
  position: relative;
  text-decoration: none;

  &:active, &:focus {
    outline: none;
    border: 0;
  }

  &:hover {
    text-decoration: none;
  }

  .social-media-list &:hover {
      text-decoration: none;

      .username {
        text-decoration: none;
      }
    }
}

.page-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5px;
  bottom: -5px;
  left: 0;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-ou
}

.page-link:hover:before {
  visibility: visible;
  transform: scaleX(0.4);
}

.social-media-list a:link {
  bottom: 30px;
  font-size:0;
}

.social-media-list li {
  display: inline;
}

body {
  padding: 85px 0 0;  // padding-top equal to masthead height or greater
  background: $light-header;
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/palanquin-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/palanquin-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/palanquin-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/palanquin-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/palanquin-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/palanquin-v6-latin-regular.svg#Palanquin') format('svg'); /* Legacy iOS */
}

.show {
  opacity: 1;
  transition: opacity 500ms;
}

.hide {
  opacity: 0;
  transition: opacity 500ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

:is(h1, h2, h3, h4, h5, h6), p {
  color: $charcoal;
}

@media screen and (max-width: 600px) {
  .softColumn {
    width: 100%;
  }
}

@keyframes page-load {
    from {
        background-color: #ffffff;
    }
    to {
        background-color: #000000;
    }
}

.page-loading::before {
    content:" ";
    display:block;
    position:fixed;
    z-index:10;
    height:2px;
    width:100%;
    top:0;
    left:0;
    background-color:#06D;
    animation: page-load infinite ease-out 2s;
    box-shadow:0 2px 2px rgba(0,0,0,.2);
}

h1 {
  font-size:22px;
  font-family: 'Headland One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/headland-one-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/headland-one-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/headland-one-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/headland-one-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/headland-one-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/headland-one-v10-latin-regular.svg#HeadlandOne') format('svg'); /* Legacy iOS */
}

.post-content h2 {
  font-size:22px;
}

.site-header {
  position: fixed;
  background: radial-gradient(circle, $light-header 70%, $dark-header 100%);
  top: 0;
  z-index: 5;
  width: 100%;
  box-shadow: 0px 0px 10px grey;
  border-top-color: $charcoal;
  font-family: 'Goudy Bookletter 1911';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/goudy-bookletter-1911-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/goudy-bookletter-1911-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/goudy-bookletter-1911-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/goudy-bookletter-1911-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/goudy-bookletter-1911-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/goudy-bookletter-1911-v10-latin-regular.svg#GoudyBookletter1911') format('svg'); /* Legacy iOS */
}

.site-title {
  font-size: 28px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.site-title::before {
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 36px;
  margin-right: 5px;
  margin-bottom: 6px;
  content: "";
  background: url("portrait.png") no-repeat 0 0;
  background-size: 100%;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.trigger {
  font-family: 'Headland One';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/headland-one-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/headland-one-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/headland-one-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/headland-one-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/headland-one-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/headland-one-v10-latin-regular.svg#HeadlandOne') format('svg'); /* Legacy iOS */
}

/* palanquin-regular - latin */
@font-face {
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/palanquin-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/palanquin-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/palanquin-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/palanquin-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/palanquin-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/palanquin-v6-latin-regular.svg#Palanquin') format('svg'); /* Legacy iOS */
}

/* goudy-bookletter-1911-regular - latin */
@font-face {
  font-family: 'Goudy Bookletter 1911';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/goudy-bookletter-1911-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/goudy-bookletter-1911-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/goudy-bookletter-1911-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/goudy-bookletter-1911-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/goudy-bookletter-1911-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/goudy-bookletter-1911-v10-latin-regular.svg#GoudyBookletter1911') format('svg'); /* Legacy iOS */
}

/* headland-one-regular - latin */
@font-face {
  font-family: 'Headland One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/headland-one-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/headland-one-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/headland-one-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/headland-one-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/headland-one-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/headland-one-v10-latin-regular.svg#HeadlandOne') format('svg'); /* Legacy iOS */
}
