@font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
    overflow: hidden;
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #333;
  height: 100vh;
}

.width-30 {
  width: 30%;
}

.width-60 {
  width: 60%;
}

.width-70 {
  width: 70%;
}

.blue-coloured {
  color: #1F449C;
}

.dark-grey-coloured {
  color: #737373;
}

.index-instructions {
  margin: 0 auto;
  padding-bottom:30px;
  width:50%;
}

#scorer {
  font-size: 30px;
}

.wrapper > * {
  padding: 10px;
}

.info {
  width: 200px;
}

.box {
  border-style: solid;
  border-radius:5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

#trialOver {
  text-align: center;
  visibility: hidden;
}

#trainingOver {
  text-align: center;
}

.inter {
  width: auto;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center
}

#grid-container {
  display: grid;
}

.padding-10 {
  padding-bottom: 10px;
}

.padding-30 {
  padding-bottom: 30px;
}

.padding-50 {
  padding-bottom: 50px;
}

.padding-top-20 {
  padding-top: 20px;
}

.font-30 {
  font-size: 30px;
}

.square {
  box-sizing: border-box;
  border: 1px solid #999999;
  box-shadow: 0px 0px 5px #999999;
}

.square.current {
  border-color: black;
  border-width: 2px;
  box-shadow: inset 0px 0px 5px #999999;
}

.grey {
  background-color: #BBBBBB;
}


.light-grey {
  background-color: #DDDDDD;
}

.lightest-grey {
  background-color: #EEEEEE;
}

.white {
  background-color: white;
}

.blue {
  background-color: white;
  animation: fadeToBlue 0.75s forwards;
}

.green {
  background-color: white;
  animation: fadeToGreen 0.75s forwards;
}

.gold {
  background-color: white;
  animation: fadeToPurple 1s forwards;
}

@keyframes fadeToGreen {
    0% {
        background-color: white;
    }
    50% {
        background-color: #228833;
        box-shadow: inset 0px 0px 5px #ffffff;
    }
    100% {
        background-color: #228833;
        box-shadow: inset 0px 0px 5px #ffffff;
    }
}

@keyframes fadeToPurple {
    0% {
        background-color: white;
    }
    50% {
        background-color: #AA3377;
        box-shadow: inset 0px 0px 5px #ffffff;
    }
    100% {
        background-color: #AA3377;
        box-shadow: inset 0px 0px 5px #ffffff;
    }
}

@keyframes fadeToBlue {
    0% {
        background-color: white;
    }
    50% {
        background-color: #1F449C;
        box-shadow: inset 0px 0px 5px #ffffff;
    }
    100% {
        background-color: #1F449C;
        box-shadow: inset 0px 0px 5px #ffffff;
    }
}

.hidden {
  box-shadow: none;
  visibility: hidden;
}

.dark-grey-text {
  color: #333333;
}

.button {
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  border:  3px solid grey;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s;
}

.button:hover {
  background-color: grey;
  color: white;
}

#score-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 300px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
}

#score-table th,
#score-table td {
    border: 1px solid #999999;
    padding: 10px;
    border-radius: 5px;
}

.progress-bar-container {
  width: 8%;
  height: 6px;
  padding: 0px;
  margin-bottom: 30px;
  background-color: #BBBBBB;
  border-radius: 5px;
}

.progress-bar {
  height: 100%;
  padding: 0px;
  background-color: #1F449C;
  border-radius: 5px;
}

#page1 {
  width: 0%;
  animation: progress0to25 1s forwards;
}

#page2 {
  width: 25;
  animation: progress25to50 1s forwards;
}

#page3 {
  width: 50%;
  animation: progress50to75 1s forwards;
}

#page4 {
  width: 75%;
  animation: progress75to100 1s forwards;
}

@keyframes progress0to25 {
    from { width: 0%; }
    to { width: 25%; }
}

@keyframes progress25to50 {
    from { width: 25%; }
    to { width: 50%; }
}

@keyframes progress50to75 {
    from { width: 50%; }
    to { width: 75%; }
}

@keyframes progress75to100 {
    from { width: 75%; }
    to { width: 100%; }
}